<footer>
  <p>Copyright <%= Time.now.year %> Bakhmetov Ivan</p>
  <p>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/req12345/TestGuru">TestGuru</a> is a porject about test managment system.
  </p>
  <a target="_blank" rel="noopener noreferrer" href="http://www.thinknetica.com/">Study project in online-scholl ThinkNetica</a></p>
</footer>
