<footer>
  <br>
  <p>Copyright <%= year_current %> Bakhmetov Ivan</p>
  <p> <%= github_url('req12345', 'TestGuru') %> is a porject about test managment system.</p>
  <%= link_to 'Study project in online-scholl ThinkNetica', 'http://www.thinknetica.com', target: '_blank' %>
</footer>
