<footer>
  <p>Copyright <%= Time.now.year %> Bakhmetov Ivan</p>
  <p> <%= link_to 'TestGuru', 'https://github.com/req12345/TestGuru', target: '_blank' %> is a porject about test managment system.</p>
  <p><%= link_to 'Study project in online-scholl ThinkNetica', 'http://www.thinknetica.com', target: '_blank' %></p>
</footer>
