<h1><%= @test.title %></h1>

<table>
  <tr>
    <th>№</th>
    <th>Questions</th>
  </tr>

  <% @questions.each do |question| %>

    <tr>
      <% @number ||= 1 %>
      <td><%= @number  %></td>
      <td><%= question.body %></td>
      <% @number += 1 %>
    </tr>
    <% end %>
</table>
