<tr>
  <td><%= answer.body %></td>
  <td><%= answer.correct %></td>
  <td><%= link_to t('shared.links.edit'), edit_admin_answer_path(answer) %></td>
  <td><%= link_to t('shared.links.delete'),
                   admin_answer_path(answer),
                   method: :delete,
                   data: { confirm: t('shared.delete_confirmation') }%>
  </td>
</tr>
