<h1>Good tests:</h1>
<%= link_to 'New test', new_test_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Questions</th>
    <th>Author</th>
<<<<<<< HEAD
<<<<<<< HEAD
    <th colspan="3">Actions</th>
=======
    <th colspan="4">Actions</th>
>>>>>>> fe20575 ([ADD] test views)
=======
    <th colspan="4">Actions</th>
>>>>>>> fe20575 ([ADD] test views)
  </tr>

  <%= render @tests  %>
</table>
