<h1>Test: <%= @test.title %></h1>
<%= link_to 'New question', new_test_question_path(@test) %>
<h3>Questions:</h3>
<% render @test.questions %>

<%= link_to 'Edit', edit_test_path(@test) %>
<%= link_to 'Back', tests_path %>
